<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bmi.fotnewsapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FOTNewsApp">

        <activity android:name="com.bmi.fotnewsapp.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bmi.fotnewsapp.LoginActivity"/>
        <activity android:name="com.bmi.fotnewsapp.SignupActivity"/>
        <activity android:name="com.bmi.fotnewsapp.NewsCategoriesActivity"/>
        <activity android:name="com.bmi.fotnewsapp.UserProfileActivity"/>
        <activity android:name="com.bmi.fotnewsapp.AcademicActivity"/>
        <activity android:name="com.bmi.fotnewsapp.EventsActivity"/>
        <activity android:name=".UserInfoEditActivity"/>
        <activity android:name="com.bmi.fotnewsapp.SettingsActivity"/>

    </application>

</manifest>